#body-colors
{
    background-color: #313640;

}

#habitat 
{
    background-image: url(Img/bobbles.jpg) ;
    size: auto;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#anatomy 
{
    background-image: url(Img/bobbles222.jpg) ;
    size: auto;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#diet 
{
    background-image: url(Img/ocean.jpg) ;
    size: auto;
    background-size: cover;
    text-align: center;
    background-position: center;
}

#title-1
{
    color:rgb(11, 6, 96);
    display: inline-flex;
    font-family: "Courier New", monospace;
    font-weight: bold;
    text-decoration: underline dotted rgb(40, 122, 174);
}

#body-1
{
    color:rgb(21, 62, 128);
    display: inline-flex;
    font-family: "Courier New", monospace;
    font-size: 20;
}

#title-2
{
    color:rgb(129, 244, 234);
    display: inline-flex;
    font-family: "URW Chancery L", cursive;
    font-weight: bold;
    text-decoration: wavy underline rgb(219, 251, 248);
}

#body-2
{
    color:rgb(192, 250, 234);
    display: inline-flex;
    font-family: "URW Chancery L", cursive;
    font-size: 20;
}

#title-3
{
    color:rgb(21, 62, 128);
    display: inline-flex;
    font-weight: bold;
    text-decoration: underline rgb(63, 132, 197);
    font-family: "Brush Script MT", cursive;
}

#body-3
{
    color:rgb(21, 62, 128);
    display: inline-flex;
    font-family: "Brush Script MT", cursive;
    font-size: 20;
}

.container
{
    display : flex;
    grid-template-columns: 70% 30%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 30px;
    flex-wrap: wrap;
    gap: 17px;
}

.container-1
{
    display : flex;
    grid-template-columns: 70% 30%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item-text-1
{
    background-color: #7cefe5ce;
    padding: 30px;
    border-radius: 50px;
    flex: 2;
    margin: 20px;
    text-align: center;
}

.item-text-2
{
    background-color: #120823d4;
    padding: 30px;
    border-radius: 50px;
    flex: 2;
    margin: 20px;
    text-align: center;
}

.item-text-3
{
    background-color: #d1f4dece;
    padding: 30px;
    border-radius: 50px;
    flex: 2;
    margin: 20px;
    text-align: center;
}

.item-image
{
object-fit: cover;
max-width: 350px;
max-height: auto;
padding: 16px;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 10px;
  }
  
  .card {
    max-width: 320px;
    max-height: 200px;
    border: 1px solid #321f1f;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(108, 146, 91, 0.1);
  }
  
  .card-image {
    object-fit: cover;
    width: 100%;
    max-height: 140px;
  }

  #cards-titles
{
    background-image: url(Img/360_F_22727906_qmu4gykES1uVCRGvp2QWhyzsgTw9ufCb.jpg) ;
    text-align: center;
}

#footer
{
text-align: center;
align-items: center;
}

#card-koteret
{
    color:rgb(129, 244, 234);
    display: inline-flex;
    font-family: "URW Chancery L", cursive;
    font-weight: bold;
    text-align: center;
    display: inline;
    font-style: italic;
    color: rgb(184, 242, 246);
    -webkit-text-stroke: 1px rgb(70, 100, 233);
}
