#body-colors
{
    background-color: #dffcff;

}

#habitat 
{
    background-image: url(Img/bobbles.jpg) ;
    size: auto;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: sans-serif;
}

#anatomy 
{
    background-image: url(Img/bobbles222.jpg) ;
    size: auto;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: sans-serif;
}

#diet 
{
    background-image: url(Img/ocean.jpg) ;
    size: auto;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: sans-serif;
}

#title-1
{
    background-color: blueviolet;
    color:black;
    display: inline-flex;
    font-family: 'Times New Roman', Times, serif;
}

#title-2
{
    background-color: rgb(181, 241, 16);
    color:rgb(0, 26, 27);
    font-family: 'Times New Roman', Times, serif;
}

#title-3
{
    background-color: rgb(181, 248, 192);
    color:rgb(5, 137, 189);
    font-family: 'Times New Roman', Times, serif;
}

.container
{
    display : flex;
    grid-template-columns: 70% 30%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.item-text-1
{
    background-color: #8ee7e3;
    color: rgb(217, 160, 250);
    padding: 20px;
    border-radius: 10px;
    flex: 2;
    margin: 20px;
    text-align: center;
}

.item-text-2
{
    background-color: #12928c;
    color: rgba(96, 9, 146, 0.486);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 20px;
    text-align: center;
}

.item-text-3
{
    background-color: #2c2229;
    color: rgb(63, 107, 110);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 20px;
    text-align: center;
}

.item-image
{
object-fit: cover;
max-width: 400px;
max-height: auto;
padding: 16px;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .card {
    max-width: 320px;
    max-height: 200px;
    border: 1px solid #c73333;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(100, 197, 55, 0.1);
  }
  
  .card-image {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }

  #cards-titles
{
    background-image: url(Img/360_F_22727906_qmu4gykES1uVCRGvp2QWhyzsgTw9ufCb.jpg) ;
    color:rgb(80, 176, 208);
    font-family: 'Times New Roman', Times, serif;
}



